
@{
    ViewBag.Title = "电视剧";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int ramdom_num = new Random().Next(1, 32);
}
<div class="nav-container ">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="/">
                        <img class="logo logo-dark" alt="logo" src="/img/logo-dark.png" />
                        <img class="logo logo-light" alt="logo" src="/img/logo-light.png" />
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 text-right">
                    <a href="#" class="hamburger-toggle toggled-class" data-toggle-class="#menu2;hidden-xs hidden-sm">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="background-overlay  hidden-xs hidden-sm"></div>
    @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
    @Html.Partial("~/Views/Shared/_Search.cshtml")
</div>
<div class="main-container">
    <section class="imagebg bg--dark" style="padding-bottom: 3em">
        <div class="background-image-holder" style="background: url(/background/background@(ramdom_num).jpg); opacity: 1;height: 700px;">
            <img alt="background" src="/background/background@(ramdom_num).jpg">
        </div>

        <div class="container">
            <div class="row">
                @RenderPage("~/Views/_FilterMenu.cshtml")
                <div class="col-sm-12 text-center">
                    <div class="masonry masonry-demos">
                        @RenderPage("~/Views/_List.cshtml")
                    </div>
                    @RenderPage("~/Views/_Page.cshtml")
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_BottomCopyright.cshtml")
</div>
