@{
    int totalPage = ViewBag.TotalPage;
    int page = ViewBag.Page;
    int /* 显示最大页码个数 */
        page_num = 10,
        /* 前面最大页显示几个上一页 */
        page_top = 2;

    var q = ViewBag.Q;
    var celebrity = ViewBag.Celebrity;
    var url = string.Format("/search?{0}", celebrity > 0 ? "celebrity=" + celebrity : "q=" + q);
}
@if (totalPage > 1)
{
    <div class="text-center hidden-sm hidden-xs">
        <ul class="tsc_pagination tsc_paginationA tsc_paginationA06">
            @if (page > 1)
            {
                <li>
                    <a class="prev" href="@(string.Format("{0}&page={1}",
                                          url,
                                          page-1
                                          ))">&nbsp;</a>
                </li>

            }
            @for (
                    int i = (page > (page_top + 1) ? page - page_top : 1);
                    i < ((totalPage - (page > (page_top + 1) ? page - page_top : 1)) > ((page > (page_top + 1) ? page - page_top : 1) + page_num) ? ((page > (page_top + 1) ? page - page_top : 1) + page_num) : totalPage);
                    i++)
            {
                if (page == i)
                {
                    <li class="active"><span class="current">@i</span></li>
                }
                else
                {
                    <li>
                        <a class="num" href="@(string.Format("{0}&page={1}",
                                          url,
                                          i
                                          ))">@i</a>
                                                </li>
                }
            }
            @if (totalPage > page)
            {
                <li>
                    <a class="next" href="@(string.Format("{0}&page={1}",
                                          url,
                                          page+1
                                          ))">&nbsp;</a>
                </li>
            }
            <li>
                <a class="end" href="@(string.Format("{0}&page={1}",
                                          url,
                                          totalPage
                                          ))">...@totalPage</a>
                                                </li>
                                            </ul>
                                        </div>
}

